body {
  background-color: #497174;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  border-color: grey;
}
h1 {
  font-weight: bolder;
  color: grey;
}
h3 {
  font-weight: lighter;
  color: white;
}
